*{
	margin:0px;
	padding: 0px;
}

.div1{
    background-color: cornflowerblue;
    border: 2px rgb(15, 90, 195) solid;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    font-family: 'Source Sans Pro';
    font-size: larger;
    font-weight: bold;

}
.div2{
    background-color: cornflowerblue;
    border: 2px rgb(15, 90, 195) solid;
    width: 150px;
    height: 150px;
    margin: 10px;
    
}
.div3{
    background-color: cornflowerblue;
    border: 2px rgb(15, 90, 195) solid;
    width: 150px;
    height: 150px;
    margin: 10px;
    
}