header{
    background-color: coral;
}
main{
    background-color: darkgray;
    /*convierte los elementos internos en flexibles*/
    display:flex;
    justify-content: space-around;
    height: 400px;
}
section{
    background-color: rgb(196, 196, 131);
    width: 480px;
    height: 300px;
}
footer{
    background-color: darkgoldenrod;
}